:root {
    --colour-1: #261C03;
    --colour-2: #706033;
    --colour-3: #95824B;
    --colour-4: #B9A362;
    --colour-5: #1A3215;
    --colour-6: #4B6130;
    --colour-7: #7B904B;
    --colour-8: #9cd96a;
    --heading-font: 'aloevera'; 
    --text-font: 'Montserrat', sans-serif;
    --section-margin: 100px auto;
    --text-shadow: 2px 2px;
}

@font-face {
    font-family: 'aloevera';
    src: url(./fonts/aloevera/aloevera.ttf) format('truetype');
    src: url(./fonts/aloevera/aloevera.woff) format('woff');
    src: url(./fonts/aloevera/aloevera.woff2) format('woff2');
}

body {
    background: radial-gradient(circle at -1% 57.5%, #aee97f 0%, #b9ec7a 90%);
}

footer {
    color: var(--colour-2);
    font-family: var(--text-font);
}

/* Navigation bar */
.navbar-brand {
    font-family: var(--heading-font);
    color: var(--colour-1);
    text-shadow: var(--text-shadow) var(--colour-6);
    font-size: 30px;
}

.navbar-toggler {
    color: var(--colour-1);
    border: solid 3px var(--colour-1);
}

.navbar-toggler-icon {
    background-image: url(./media/toggle-icon.svg);
}

.nav-link {
    font-family: var(--text-font);
    font-weight: 800;
    color: var(--colour-2);
}

.nav-link:hover {
    color: var(--colour-1);
}

/* Hero */
.hero {
    margin: var(--section-margin);
}

.hero-div {
    line-height: 15px;
}

.hero-div > h1 {
    font-family: var(--heading-font);
    color: #1A3215;
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 60px;
}

.hero-div > h2 {
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 40px;
}

.about {
    margin: var(--section-margin);
}

.about-div > h2{
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 40px;
}

.accordion-item {
    background-color: var(--colour-4);
    color: var(--colour-1);
    border: var(--colour-6) 2px solid;
    font-family: var(--text-font);
}

.accordion-button {
    background-color: var(--colour-3);
}

.accordion-button.collapsed {
    color: var(--colour-1);
}

.accordion-button:focus {
    border-color: var(--colour-1);
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--colour-3);
    color: var(--colour-1);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./media/accordion-icon.svg)
}

.accordion-button::after {
    background-image: url(./media/accordion-icon.svg);
}

.portfolio > h2 {
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 40px;
}

.portfolio-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 30px auto;
}

.portfolio-div > div > h3 {
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 30px;
}

.portfolio-div > div > p {
    color: var(--colour-1);
    font-family: var(--text-font);
}

.portfolio-div > div > a {
    display: block;
    margin: 30px auto;
    padding: 10px 10px;
    font-family: var(--text-font);
    text-align: center;
    text-decoration: none;
    color: var(--colour-4);
    background: var(--colour-6);
    border: var(--colour-6) 2px solid;
    border-radius: 10px 10px;
    box-shadow: 3px 3px 5px var(--colour-3);
    transition: all 150ms ease-in-out;
}

.portfolio-div > div > a:hover {
    color: var(--colour-6);
    background-color: var(--colour-4);
}

.contact {
    margin: var(--section-margin);
}

.contact > h2 {
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 40px;
}

.contact-div > h3, .contact > h3 {
    font-family: var(--heading-font);
    color: var(--colour-5);
    text-shadow: var(--text-shadow) var(--colour-3);
    font-size: 30px;
}

.contact-div > ul > li {
    list-style: none;
}

.contact-div > ul > li > a {
    text-decoration: none;
    color: var(--colour-1);
    font-family: var(--text-font);
    font-size: 20px;
}

.contact-div > ul > li > a:hover {
    text-decoration: underline;
    color: var(--colour-1);
    font-family: var(--text-font);
}

.footer {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 550px) {
    footer {
        font-size: 10px;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px
    }

    .navbar-brand {
        font-size: 25px;
    }

    .hero {
        margin: 50px auto;
    }

    .hero-div {
        line-height: 5px;
    }

    .hero-div > h2 {
        font-size: 25px;
    }

    .hero-div > h1 {
        font-size: 40px;
    }

    .about-div > h2 {
        font-size: 25px;
    }

    .portfolio > h2 {
        font-size: 25px;
    }

    .portfolio-div {
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 15px auto;
    }

    .portfolio-div > div > h3 {
        font-size: 18px;
    }

    .contact {
        margin: 50px auto 25px auto;
    }
    
    .contact > h2 {
        font-size: 25px;
    }
    
    .contact-div > h3, .contact > h3 {
        font-size: 18px;
    }

    .contact-div > ul > li > a {
        font-size: 12px;
    }

    .footer {
        margin: 15px;
    }
}